<div class="pure-g">

	<div class="pure-u-1-5">
		<div class="pure-g">
			<div class="pure-u-1-1">
				<div class="avatar">
					<div class="avatar-inner">
						<div class="avatar-innermost">
						</div>
					</div>
	 			</div>
			</div>


			<div class="pure-u-1-1">
				<ul class="nav">
					<% if(model.self) { %> 
						<li>
							<a href="<%- router.linkTo('editProfile') %>">edit my profile.</a>
						</li>
					<% } else { %>
					<li>
						<a href="javascript:void(0)">message.</a>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
	<div class="pure-u-4-5">
		<h2><%- model.username %></h2>
	</div>

</div>