
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-backface-visibility: hidden;
}

.el { 
	padding:@margin;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "omnes-pro", sans-serif;
}

.form-centered {
	max-width: 384px;
	margin:0px auto;
	text-align: center;
	padding:@margin;

	input, button {
		width:100%;
	}

	button {
		margin:@margin/2 0px;
	}
}

.divider {
	width:100%;
	margin:@margin/2 0px;
	border-bottom:1px solid @gray-lighter;
}

.header-plain {
	border:0px solid @white;
}




@avatar-size: 128px;
.avatar {
	.hex();

	.avatar-inner {
		.hex-inner();
		.avatar-innermost {
			.hex-innermost();
		}
	}
	overflow: hidden;
	border: 1px solid @gray-lighter;
}


/* auth */
.register-form {
	p {
		margin-top:0px;
	}
}



ul.nav {
    list-style: none;
    li {
        a { 
            display: block;
            padding:4px 8px;

            &:hover {
                background: @gray-lighter;
            };
        }
    }
}

.main-wrap {
    position: relative;
}

.alert {
	width: 100%;
	padding:4px 12px;
	margin:@margin/2 0px;
	color:@white;
	text-align: left;
}


.alert.alert-error {
	background-color: fadeout(@red, 50%);
	border-left: 4px solid @red;
}


.alert.alert-success {
	background-color: fadeout(@green, 50%);
	border-left: 4px solid @green;
}


#messenger {
    width: @margin * 4;
    position: fixed;
    right:0px;
    background: @gray-dark;
    height: 100%;
    display: none;
}